<p-toolbar [style]="{ height: '100px' }">
  <div class="p-toolbar-group-start">
      <img src="assets/icons/icon-72x72.png" alt="logo" />
  </div>
  <div class="p-toolbar-group-center">
      {{ title }}
  </div>
  <div class="p-toolbar-group-end">
    <div class="flex align-items-center gap-3">
      <div 
      [class.disabled-cart]="cartCount() === 0"
      (click)="cartCount() > 0 && cartDropdown.toggle($event)" 
      class="cart-badge-container"
    >
        <!-- Cart badge and icon -->        
         <i class="pi pi-shopping-cart" style="font-size: 2rem"></i>
        <p-badge 
          [value]="cartService.cartCount()" 
          severity="danger" 
          styleClass="cart-badge"
          [class.hidden]="cartCount() === 0">
        </p-badge>
      </div>
      
      <app-cart-dropdown #cartDropdown></app-cart-dropdown>
    </div>
  </div>
</p-toolbar>
<p-splitter [panelSizes]="[20, 80]" [style]="{ height: 'calc(100vh - 100px)' }">
  <ng-template pTemplate>
    <div class="w-full">
      <app-panel-menu />
    </div>
  </ng-template>
  <ng-template pTemplate>
    <div class="w-full app-content">
      <router-outlet></router-outlet>
    </div>
  </ng-template>
</p-splitter>
