<div class="page-header">
  <h1>Liste des produits</h1>

  <div class="header-actions">
    <span class="p-input-icon-left">
      <i class="pi pi-search"></i>
      <input
        type="text"
        pInputText
        placeholder="Rechercher..."
        [ngModel]="searchTerm()"
        (ngModelChange)="onSearch($event)"
      />
    </span>
    <p-button label="Créer produit" (onClick)="onCreate()" />
  </div>
</div>

<p-dataView #dv [value]="allProducts()">
  <ng-template pTemplate="list" let-products>
    <div class="product-grid" #gridContainer>
      @for (product of products; track product) {
      <p-card class="product-card">
        <div class="product-header">
          <img
            [src]="product.image || 'assets/img/default-product.jpg'"
            (error)="handleImageError($event)"
            alt="{{ product.name }}"
            class="product-image"
          />
        </div>
        <div class="product-content">
          <div class="product-title">
            <p-tag
              [value]="product.category"
              [severity]="getSeverity(product.category)"
              class="product-category"
            ></p-tag>
            <div
              *ngIf="getInventoryStatus(product.quantity) !== 'INSTOCK'"
              [class]="
                getInventoryStatusClass(getInventoryStatus(product.quantity))
              "
            >
              {{ getInventoryStatus(product.quantity) }}
            </div>
          </div>
          <h3 class="product-name">{{ product.name }}</h3>
          <div class="product-description">{{ product.description }}</div>
          <div class="product-info">
            <div class="product-price">{{ product.price | currency }}</div>
            <div class="product-rating">
              @for (star of [1,2,3,4,5]; track star) {
              <i
                class="pi"
                [ngClass]="star <= product.rating ? 'pi-star-fill' : 'pi-star'"
              ></i>
              }
            </div>
          </div>
        </div>

        <ng-template pTemplate="footer">
          <div class="product-actions">
            <p-button
              icon="pi pi-shopping-cart"
              label="Add to Cart"
              (onClick)="addToCart(product)"
              [disabled]="product.inventoryStatus === 'OUTOFSTOCK'"
              styleClass="p-button-success"
              [class.hidden]="product.quantity === 0"
            >
            </p-button>
            <p-button
              icon="pi pi-pencil"
              styleClass="p-button-rounded p-button-secondary p-button-text"
              (onClick)="onUpdate(product)"
            />
            <p-button
              icon="pi pi-trash"
              styleClass="p-button-rounded p-button-danger p-button-text"
              (onClick)="onDelete(product)"
            />
          </div>
        </ng-template>
      </p-card>
      }
    </div>
  </ng-template>
</p-dataView>

<div class="loading-indicator" *ngIf="isLoading()">
  <i class="pi pi-spinner pi-spin"></i> Loading more products...
</div>

<p-dialog
  [(visible)]="isDialogVisible"
  [style]="{ width: '50vw' }"
  header="Ajout/Edition produit"
>
  <app-product-form
    [product]="editedProduct()"
    (save)="onSave($event)"
    (cancel)="onCancel()"
  />
</p-dialog>
